$primary-1: #0086ba;
$primary-2: #0095d0;
$primary-3: #00adf0;
$primary-4: #4dc5f4;
$primary-5: #74d4fa;

$accent-1: #846b24;
$accent-2: #b68e1d;
$accent-3: #ffbc00;
$accent-4: #ffd255;
$accent-5: #ffffdd;

$neutral-1: #646464;
$neutral-2: #979797;
$neutral-3: #dddddd;
$neutral-4: #eeeeee;
$neutral-5: #f4f4f4;

// Sizes
$border-radius-1: 1.5rem;
$border-radius-2: 0.9rem;
$border-radius-3: 0.5rem;

// Fonts
$body-font: "Nunito", Arial, sans-serif;
